.info {
  padding-block: 50px;

}

.info__container {
  margin-inline: auto;
  width: 1234px;
  display: flex;
  gap: 10px;
}

.info__content {
  width: 567px;
  margin-block: 96px 105px;
}

.info__decoration::after {
  content: "";
  background-image: url("../images/delivery__bike.png");
  background-size: 751px 501px;
  background-repeat: no-repeat;
  width: 751px;
  height: 501px;
  position: absolute;
}

.info__title {
  font-family: "Merienda", sans-serif;
  color: #396C03;
  font-size: 50px;
  line-height: 65px;
  margin-block: 0 10px;
}

.info__description {
  font-size: 18px;
  line-height: 29px;
  color: #676767;
  margin-block: 0 14px;
}

.info__button {
  display: inline-flex;
  align-items: center;
}

.info__button::after {
  content: "";
  width: 16px;
  height: 10px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  margin-left: 15px;
}