.banner {
  background-color: #D7E1CC;
}

.banner__container {
  width: 1234px;
  margin-inline: auto;
  position: relative;
}

.banner__container::before,
.banner__container::after {
  content: "";
  display: block;
  width: 288px;
  height: 288px;
  background-image: url("../images/leaf.png");
  background-repeat: no-repeat;
  background-size: 288px;
  position: absolute;
}

.banner__container::before {
  top: 0;
  left: -98px;
  transform: rotate(25deg);
  filter: blur(1.5px);
}

.banner__container::after {
  top: 45px;
  right: -100px;
  z-index: 1;
  transform: rotate(15deg);
  filter: blur(2.5px);
}

.banner__content {
  width: 714px;
  padding-block: 224px 139px;
}

.banner__title {
  font-family: "Merienda", sans-serif;
  font-size: 65px;
  line-height: 85px;
  color: #396C03;
  margin-block: 0 11px;
}

.banner__title::after {
  content: ".";
  color: #FF8B00;
}

.banner__description {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  margin-block: 0 27px;
}

.banner__search {
  position: relative;
  display: inline-block;
}

.banner__input {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(57, 108, 3, 0.3);
  border-radius: 35px;
  font-size: 22px;
  line-height: 37px;
  padding: 14px 225px 14px 74px;
}

.banner__location {
  width: 49px;
  height: 49px;
  position: absolute;
  background-image: url("../images/location_button.svg");
  background-repeat: no-repeat;
  background-size: 49px 49px;
  border: none;
  background-color: transparent;
  top: 10px;
  left: 9px;
}

.banner__button {
  border: none;
  width: 211px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 22px;
  line-height: 38px;
  padding-block: 15px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.banner__button::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
}

.banner__label {
  width: 245px;
  height: 118px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.4) 100%);
  border-radius: 9px;
  padding: 24px 28px 18px 28px;
  box-sizing: border-box;
  position: absolute;
  top: 54px;
  right: 83px;
  z-index: 3;
}

.banner__number {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  color: #FF8B00;
  display: flex;
  align-items: center;
}

.banner__number::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("../images/tick.svg");
  background-repeat: no-repeat;
  margin-inline: 4px 13px;
}

.banner__info {
  font-weight: 600;
  font-size: 21px;
  line-height: 27px;
  color: #D7E1CC;
}

.banner__plate {
  width: 534px;
  height: 528px;
  background-image: url("../images/plate.png");
  background-repeat: no-repeat;
  background-size: 534px 528px;
  position: absolute;
  top: 132px;
  right: -20px;
  z-index: 2;
}

.info {
  padding-block: 50px;
}

.info__container {
  margin-inline: auto;
  width: 1234px;
  display: flex;
  gap: 10px;
}

.info__content {
  width: 567px;
  margin-block: 96px 105px;
}

.info__decoration::after {
  content: "";
  background-image: url("../images/delivery__bike.png");
  background-size: 751px 501px;
  background-repeat: no-repeat;
  width: 751px;
  height: 501px;
  position: absolute;
}

.info__title {
  font-family: "Merienda", sans-serif;
  color: #396C03;
  font-size: 50px;
  line-height: 65px;
  margin-block: 0 10px;
}

.info__description {
  font-size: 18px;
  line-height: 29px;
  color: #676767;
  margin-block: 0 14px;
}

.info__button {
  display: inline-flex;
  align-items: center;
}

.info__button::after {
  content: "";
  width: 16px;
  height: 10px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  margin-left: 15px;
}

.advantages {
  padding-block: 105px;
}

.advantages__container {
  width: 1234px;
  margin-inline: auto;
}

.advantages__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  padding: 0;
  margin: 0;
}

.advantages__item {
  box-sizing: border-box;
  width: 394px;
  min-height: 388px;
  padding: 172px 47px 38px 54px;
  background-position: 60px 54px;
  background-repeat: no-repeat;
}

.advantages__item--main {
  background-color: rgba(57, 108, 3, 0.05);
  border-radius: 15px;
}

.advantages__title {
  margin-block: 0 7px;
  font-size: 30px;
  line-height: 42px;
  font-weight: 600;
}

.advantages__description {
  margin: 0;
}

.advantages__restaurants {
  background-image: url("../images/spoon_fork.svg");
}

.advantages__ordering {
  background-image: url("../images/order.svg");
}

.advantages__delivery {
  background-image: url("../images/clocks.svg");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Merienda";
  src: url("../fonts/Merienda-Bold.woff2") format("woff2"), url("../fonts/Merienda-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  background-color: #E3EADB;
  color: #676767;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 29px;
  min-width: 1440px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  padding-block: 17px;
  border-bottom: 1px solid rgba(63, 63, 63, 0.2);
  background-color: #D7E1CC;
}

.page-header__container {
  width: 1234px;
  margin-inline: auto;
  display: flex;
  align-items: center;
}

.page-header__nav {
  margin-inline: auto 70px;
}

.page-header__language {
  margin-inline-end: 101px;
}

.page-header__button {
  margin-inline-end: 23px;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 70px;
}

.nav__link {
  text-decoration: none;
  color: #3F3F3F;
  font-weight: 500;
  line-height: 36px;
}

.language {
  position: relative;
  text-transform: uppercase;
  line-height: 36px;
  font-weight: 500;
  color: #3F3F3F;
  padding-inline-end: 19px;
  background-image: url("../images/language_arrow.svg");
  background-repeat: no-repeat;
  background-position: center right;
}

.language__list {
  position: absolute;
  top: 100%;
  right: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: none;
}

.language__item {
  background-color: #E3EADA;
  border-bottom: 1px solid rgba(63, 63, 63, 0.2);
}

.language__item:last-child {
  border: none;
}

.language__name {
  border: none;
  background-color: transparent;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 18px;
  color: #3F3F3F;
}

.button {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: #ffffff;
  background-color: #396C03;
  border-radius: 35px;
  padding: 12px 50px;
}

.button--cart {
  background-image: url("../images/cart.svg");
  background-size: 29px 30px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  width: 60px;
  height: 60px;
  position: relative;
}

.button--cart__counter {
  background-color: #FF8B00;
  border-radius: 13px;
  padding-inline: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  position: absolute;
  top: -5px;
  right: -5px;
}